{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Выйти</a>
{% else %}
<a href="% url 'login' %">Вход</a>
{% endif %}

<hr>
<h1>Мой To-Do лист</h1>

<a href= "{% url 'task-create' %}">Добавить напоминание</a>

<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">Подробнее</a></td>
        <td><a href="{% url 'task-update' task.id %}">Редактировать</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Удалить</a></td>
    </tr>
    {% empty %}
        <h3>Список пуст</h3>
    {% endfor %}
</table>